# See https://help.github.com/ignore-files/ for more about ignoring files.

# ---------- general ----------
# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ---------- reactjs-org ----------
# dependencies
/reactjs-org/node_modules

# testing
/reactjs-org/coverage

# production
/reactjs-org/build

# misc
/reactjs-org/.DS_Store
/reactjs-org/.env.local
/reactjs-org/.env.development.local
/reactjs-org/.env.test.local
/reactjs-org/.env.production.local

/reactjs-org/npm-debug.log*
/reactjs-org/yarn-debug.log*
/reactjs-org/yarn-error.log*
